.header {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

#downloadlink {
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana,sans-serif;
}

body {
  background-color: black;
  text-align: center;
}
